{% extends 'base.html' %}

{% block content %}
<div class="form-container p-8 max-w-md w-full mx-auto">
    <h1 class="text-center text-3xl font-bold mb-6">Login</h1>
    <form @submit.prevent="login">
        <div class="mb-4">
            <label class="block text-gray-400 text-sm font-bold mb-2">Username</label>
            <input v-model="username" type="text" class="form-input w-full px-4 py-2 rounded-lg shadow-sm focus:outline-none focus:ring-2"/>
        </div>
        <div class="mb-6">
            <label class="block text-gray-400 text-sm font-bold mb-2">Password</label>
            <input v-model="password" type="password" class="form-input w-full px-4 py-2 rounded-lg shadow-sm focus:outline-none focus:ring-2"/>
        </div>
        <button type="submit" class="btn-primary w-full py-2 rounded-lg">Login</button>
    </form>

    <!-- Link para registro -->
    <div class="text-center mt-4">
        <p class="text-gray-400">Não tem uma conta?</p>
        <a href="/register" class="text-blue-500 hover:text-blue-600">Registrar-se</a>
    </div>
</div>
{% endblock %}
